@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #007AFF;
}

.left {
    display: flex;
    position: absolute;
    width: 574.36px;
    height: 675.96px;
    background-image: linear-gradient(#0F70DA, #007aFF)
}

.left > h1 {
    display: flex;
    position: absolute;
    width: 390.9px;
    height: 60px;
    left: 91.73px;
    top: 45.16px;
    
    font: normal 600 19.7568px 'Poppins';
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.ellipse {
    position: absolute;
    width: 418.42px;
    height: 418.42px;
    left: 78.32px;
    top: 162.91px;
    border-radius: 50%;
    background-image: linear-gradient(324.93deg, #0F70DA 0.74%, #007AFF 100%);
}

.images {
    display: flex;
    position: relative;
    width: 310.46px;
    height: 444.55px;
    left: 131.86px;
    top: 148.13px;
}

#img-left {
    position: absolute;
    top: 51.19px;
}

#img-center {
    position: absolute;
    left: 37.83px;
}

#img-right {
    position: absolute;
    top: 51.19px;
    left: 130.19px;
}

.slider-dots {
    display: flex;
    flex-direction: row;
    padding: 0px;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 47.28px;
    height: 14.11px;
    left: 262.48px;
    top: 622.34px;
}

#left-dot {
    position: static;
    width: 7.06px;
    height: 7.06px;
    top: 3.53px;
    border: 0.705598px solid #FFFFFF;
    border-radius: 50%;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 11.2896px;
}

.slider-dots-center {
    position: static;
    width: 10.58px;
    height: 14.11px;
    left: 18.35px;
    top: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px;
}

#semicircle {
    position: absolute;
    width: 7.06px;
    height: 14.12px;
    left: 50%;
    right: 40%;
    top: 0%;
    bottom: 0%;
    border: 0.705598px solid #FFFFFF;
    border-radius: 0px 14.12px 14.12px 0px;
    border-top-color: #0378F7;
    border-left-color: #0378F7;
}

#center-dot {
    position: absolute;
    left: 38.81%;
    right: 46.27%;
    top: 25%;
    bottom: 25%;
    background-color: #FFFFFF;
    border: 0.705598px solid #FFFFFF;
    border-radius: 50%;
}

#right-dot {
    position: static;
    width: 7.06px;
    height: 7.06px;
    top: 3.53px;
    border: 0.705598px solid #FFFFFF;
    border-radius: 50%;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 11.2896px;
}

.right {
    display: flexbox;
    position: absolute;
    width: 527.79px;
    height: 608.23px;
    left: 688.67px;
    top: 44.81px;
}

.logo {
    position: absolute;
    width: 81.03px;
    height: 33.87px;
}

.logo > img {
    position: absolute;
    width: 29.52px;
    height: 33.87px;
}

.logo > p {
    position: absolute;
    width: 44.45px;
    height: 15.35px;
    left: 36.58px;
    top: 9.17px;
    font: normal 600 12.7008px 'Poppins';
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #1D1D1D;
}

.text {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 155px;
    height: 47.64px;
    top: 76.91px;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
}

.text > h1 {
    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 41.23%;
    font: normal 600 19.7568px 'Poppins';
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #1D1D1D;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 5.64479px 0px;
}

.text > p {
    position: static;
    left: 0%;
    right: 5.81%;
    top: 70.62%;
    bottom: 0%;
    font: normal 400 9.87838px 'Poppins';
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #2D3748;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 5.64479px 0px;
}

.form {
    position: absolute;
    width: 527.79px;
    height: 299.17px;
    top: 163.70px;
    font: normal 400 9.87838px 'Poppins';
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #2D3748;
}

.input-group {
    position: absolute;
    width: 527.79px;
    height: 186.17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.input-box {
    width: 252.6px;
    height: 50.69px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.input-box > input {
    position: static;
    width: 252.6px;
    height: 33.87px;
    left: 0px;
    top: 16.82px;
    border-width: 0.71px;
    border-radius: 3px;
    border-color: #D1D1D1;
    margin: 2.82239px 0px;
}

.remember-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 94.58px;
    height: 14.11px;
    top: 203.21px;
}

.remember-me > input {
    position: static;
    left: 0%;
    right: 85.08%;
    top: 0%;
    bottom: 0%;
    border: 0.705598px solid #D1D1D1;
    border-radius: 1.4112px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 8.46718px;
}

.remember-me > label {
    position: static;
    left: 23.87%;
    right: 0%;
    top: 0.4%;
    bottom: 0.4%;
    flex: none;
    order: 1;
    flex-grow: 0
}

.terms {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 220.58px;
    height: 14.11px;
    top: 228.61px;
}

.terms > input {
    position: static;
    left: 0%;
    right: 85.08%;
    top: 0%;
    bottom: 0%;
    border: 0.705598px solid #D1D1D1;
    border-radius: 1.4112px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 8.46718px;
}

.terms > label {
    position: static;
    left: 23.87%;
    right: 0%;
    top: 0.4%;
    bottom: 0.4%;
    flex: none;
    order: 1;
    flex-grow: 0
}

.forgot-password > p { 
    position: absolute;
    width: 86px;
    height: 14px;
    top: 203.21px;
    left: 433.21px;
    bottom: 81.96px;
}

button {
    position: absolute;
    width: 252.6px;
    height: 33.87px;
    top: 265.3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font: normal 400 9.87838px 'Poppins';
    line-height: 140%;
    letter-spacing: -0.02em;
    border-radius: 3px;
    border-width: 0px;
}

button > a {
    color: #FFFFFF;
}

.login-button > button {
    position: absolute;
    background-color: #007AFF;
}

.google-button > button {
    position: absolute;
    left: 275.18px;
    background-color: #2D3748;
}

.log-in > p {
    position: absolute;
    width: 160px;
    height: 14px;
    left: 191.92px;
    top: 485.45px;
    font: normal 400 9.87838px 'Poppins';
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #2D3748;
}
